#logout {
  cursor: pointer; }

/* START Spinner */
.loader {
  display: block;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  margin-top: 20%; }

.loader--3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px; }

.loader-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 2px;
  background-color: rgba(162, 185, 209, 0.7);
  color: rgba(162, 185, 209, 0.7);
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
  .loader-item:nth-child(1) {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms; }
  .loader-item:nth-child(2) {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms; }
  .loader-item:nth-child(3) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms; }
  .loader-item:nth-child(4) {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms; }
  .loader-item:nth-child(5) {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms; }
  .loader-item:nth-child(6) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms; }
  .loader--flipHoz .loader-item {
    -webkit-animation-name: flipHoz;
    animation-name: flipHoz; }
  .loader--flipHoz .loader-item:nth-child(1) {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms; }
  .loader--flipHoz .loader-item:nth-child(2) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms; }
  .loader--flipHoz .loader-item:nth-child(3) {
    -webkit-animation-delay: 450ms;
    animation-delay: 450ms; }
  .loader--flipHoz .loader-item:nth-child(4) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms; }
  .loader--flipHoz .loader-item:nth-child(5) {
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms; }
  .loader--flipHoz .loader-item:nth-child(6) {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms; }

@-webkit-keyframes flipHoz {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  40% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }

@keyframes flipHoz {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  40% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }

/* END Spinner */
@media (min-width: 960px) {
  #advancedSearch {
    display: block !important; } }

.card {
  width: 18rem;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-flex: 0 !important;
  -ms-flex: none !important;
  flex: none !important; }
  .card .card-img-top {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .card:hover {
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }

input[type=range] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0 2px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(grey), to(grey)) no-repeat center;
  background: -webkit-linear-gradient(grey, grey) no-repeat center;
  background: -o-linear-gradient(grey, grey) no-repeat center;
  background: linear-gradient(grey, grey) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none; }
  input[type=range]:active, input[type=range]:focus {
    outline: none; }
  input[type=range]::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    border-radius: 28px;
    background-color: #fff;
    position: relative;
    margin: 5px 0;
    /* Add some margin to ensure box shadow is shown */
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    -webkit-box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25); }
    input[type=range]::-webkit-slider-thumb::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 13px;
      left: 100%;
      width: 2000px;
      height: 2px; }

.multi-range {
  position: relative;
  height: 50px; }
  .multi-range input[type=range] {
    position: absolute; }
    .multi-range input[type=range]:nth-child(1)::-webkit-slider-thumb::before {
      background-color: red; }
    .multi-range input[type=range]:nth-child(2) {
      background: none; }
      .multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
        background-color: grey; }

#minVal,
#maxVal {
  width: 60px; }
