/* START Spinner */
#spinnerModal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0; }

.loader {
  display: block;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  margin-top: 80%; }

.loader--3d {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px; }

.loader-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 2px;
  background-color: rgba(196, 207, 219, 0.7);
  color: rgba(196, 207, 219, 0.7);
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }
  .loader-item:nth-child(1) {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms; }
  .loader-item:nth-child(2) {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms; }
  .loader-item:nth-child(3) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms; }
  .loader-item:nth-child(4) {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms; }
  .loader-item:nth-child(5) {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms; }
  .loader-item:nth-child(6) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms; }
  .loader--flipHoz .loader-item {
    -webkit-animation-name: flipHoz;
    animation-name: flipHoz; }
  .loader--flipHoz .loader-item:nth-child(1) {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms; }
  .loader--flipHoz .loader-item:nth-child(2) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms; }
  .loader--flipHoz .loader-item:nth-child(3) {
    -webkit-animation-delay: 450ms;
    animation-delay: 450ms; }
  .loader--flipHoz .loader-item:nth-child(4) {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms; }
  .loader--flipHoz .loader-item:nth-child(5) {
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms; }
  .loader--flipHoz .loader-item:nth-child(6) {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms; }

@-webkit-keyframes flipHoz {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  40% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }

@keyframes flipHoz {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  40% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }

/* END Spinner */
